
<!--&lt;!&ndash; Select Plugin Js &ndash;&gt;-->
<!--<script src="/plugins/bootstrap-select/js/bootstrap-select.js"></script>-->

<!--&lt;!&ndash; Slimscroll Plugin Js &ndash;&gt;-->
<!--<script src="/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>-->

<!-- Waves Effect Plugin Js -->
<script src="/plugins/node-waves/waves.js"></script>

<!--&lt;!&ndash; Flot Charts Plugin Js &ndash;&gt;-->
<!--<script src="/plugins/flot-charts/jquery.flot.js"></script>-->
<!--<script src="/plugins/flot-charts/jquery.flot.resize.js"></script>-->
<!--<script src="/plugins/flot-charts/jquery.flot.pie.js"></script>-->
<!--<script src="/plugins/flot-charts/jquery.flot.categories.js"></script>-->
<!--<script src="/plugins/flot-charts/jquery.flot.time.js"></script>-->

<!--&lt;!&ndash; Sparkline Chart Plugin Js &ndash;&gt;-->
<!--<script src="/plugins/jquery-sparkline/jquery.sparkline.js"></script>-->

<!-- Custom Js -->
<script src="/js/scripts.js"></script>

<!-- Demo Js -->
<!--<script src="/js/demo.js"></script>-->
</body>

</html>